.btn-toggle {
    font-size: 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  }
  .btn-toggle:hover {
    background-color: #e9ecef;
  }
  
  .child {
    padding-left: 1.5rem;
  }
  